<h2 class="page-header">Transactions</h2>
<form method="POST" action="/users/login">
    <h1>Seller's Information</h1>
    <br><br>
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="name">
    </div>
    
    <div class="form-group">
        <label>ID_No</label>
        <input type="text" class="form-control" name="id_no">
    </div>
    
    <div class="form-group">
        <label>Land Size</label>
        <input type="text" class="form-control" name="size">
    </div>
    
    <div class="form-group">
        <label>Latitude:</label>
        <input type="text" id="latitude" value="" />
        <label>Longitude:</label>
        <input type="text" id="longitude" value="" />
    </div>
    
    <br><br>
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="name">
    </div>

    <div class="form-group">
        <label>ID_No</label>
        <input type="number" class="form-control" name="id_no">
    </div>
    
    <div class="form-group">
        <label>Cost of Land</label>
        <input type="number" class="form-control" name="price">
    </div>

    <div class="form-group">
        <label>Number of installments</label>
        <input type="number" class="form-control" name="installment">
    </div>
    <br><br>
    <h2>Witnesses</h2>
    <br>
    <div class="form-group">
        <label>Witness1 Full Name</label>
        <input type="text" class="form-control" name="wname">
    </div>

    <div class="form-group">
        <label>ID_No</label>
        <input type="number" class="form-control" name="id_no">
    </div>

    <div class="form-group">
        <label>Phone Number</label>
        <input type="number" class="form-control" name="phone">
    </div>
    
    <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" name="date_1">
    </div>
    <br><br>
    <div class="form-group">
        <label>Witness2 Full Name</label>
        <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
        <label>ID_No</label>
        <input type="number" class="form-control" name="id_no">
    </div>

    <div class="form-group">
        <label>Phone Number</label>
        <input type="number" class="form-control" name="phone">
    </div>
    
    <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" name="date_1">
    </div>
    
    <lable>Terms and Condition</lable>
    <p>1. The cost agreed, here in, is binding and no one is allowed to make any renogotiation in future.</p>
    <p>2. The percel of land shall be sold as it.</p>
    <p>3. Whoever violates this agreement shall loose any amount commited.</p>
    <p>4. Legal action shall be taken incase of foul play.</p>
    <p>5. The seller should ensure that the land is rightfuly owned and that has no pending disputes.</p>

    <button class="submit" class="btn btn-default">Submit</button>
</form>