<h2 class="page-header">Tranfering Land</h2>
<form method="POST" action="/users/login">
    <div class="form-group">
        <label>ID_No</label>
        <input type="number" class="form-control" name="id_no" placeholder="ID Number">
    </div>
    <div class="form-group">
        <label>Full Name</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <lable>Date of Birth</lable>
        <input type="number" class="form-control" 
        placeholder="dob" name="Date of Birth">
    </div>
    <button class="submit" class="btn btn-default">Submit</button>
</form>