
<div class="col-md-4">
  <form  autocomplete="off" novalidate>
    <div class="form-group" >
      <label for="designation">Designation:</label>
      <em *ngIf= "loginForm.controls.designation?.invalid && loginForm.controls.userName?.touched" >
        Required</em>
      <select (ngModel)="designation"
       name="designation"
       id="designation"
       type="text"
       class="form-control" >
       <option>Administrator</option>
       <option>KRA Official</option>
       <option>Ministry Official</option>
      </select>
    </div>
    <div class="form-group" >
      <label for="userName">User Name:</label>
      <em *ngIf= "loginForm.controls.userName?.invalid && loginForm.controls.userName?.touched" >
        Required</em>
      <input (ngModel)="username"
       name="userName"
       id="userName"
       type="text"
       class="form-control"
       placeholder="User Name..." />
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <em *ngIf= "loginForm.controls.password?.invalid && loginForm.controls.password?.touched" >
        Required</em>
      <input (ngModel)="password"
       name="password"
       id="password"
       type="password"
       class="form-control"
       placeholder="Password..." />
    </div>

    <button type="submit"
     [disabled]="!loginForm.touched "
     class="btn btn-primary">Login
    </button>
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
  </form>
  <br>
  <div *ngIf = "loginInvalid" class="alert alert danger">Invalid Login Info</div>


</div>
