
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
    <div class="kt-container kt-container--fluid kt-grid__item lt-grid__item--fluid">
        <div class="row align items align-items-center">
            <div class="col-md-12">
                <div class="kt-portlet kt-portlet-dark">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <span class="kt-portlet__head-icon">
                                <i class="flaticon2-graph"></i>
                            </span>
                            <h3 class="kt-portlet__head-title">
                                Welcome {{globals.currentUser.fullName}}, you have access to these portals. Please select one to continue:
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="lm-container">
                            <div class="lm-card">
                                <div class="box box1">
                                    <div class="content">
                                        <h3>Land Registry</h3>
                                    </div>
                                </div>
                                <div class="box box2">
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet 
                                            consectetur adipisicing elit. 
                                            Quas cum cumque minus iste veritatis provident at.</p>
                                            <a [routerLink]="['/lands']">Visit</a>
                                    </div>
                                </div>
                            </div>
                        
                        
                            <div class="lm-card">
                                <div class="box box1">
                                    <div class="content">
                                        <h3>Revenue Authority</h3>
                                    </div>
                                </div>
                                <div class="box box2">
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet 
                                            consectetur adipisicing elit. 
                                            Quas cum cumque minus iste veritatis provident at.</p>
                                            <a [routerLink]="['/revenue']">Visit</a>
                                    </div>
                                </div>
                            </div>
                        
                        
                            <div class="lm-card">
                                <div class="box box1">
                                    <div class="content">
                                        <h3>Land Owner</h3>
                                    </div>
                                </div>
                                <div class="box box2">
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet 
                                            consectetur adipisicing elit. 
                                            Quas cum cumque minus iste veritatis provident at.</p>
                                            <a [routerLink]="['/land-owner']">Visit</a>
                                    </div>
                                </div>
                            </div>
                        
                        
                            <div class="lm-card">
                                <div class="box box1">
                                    <div class="content">
                                        <h3>Administrator</h3>
                                    </div>
                                </div>
                                <div class="box box2">
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet 
                                            consectetur adipisicing elit. 
                                            Quas cum cumque minus iste veritatis provident at.</p>
                                            <a [routerLink]="['/admin']">Visit</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                    
                </div>
            </div>
             
             
        </div>
    </div>
</div>